<p>all-pazienti works!</p>
<!-- @if(stampaErrore && stampaErrore!=undefined){
   <p>Errore: {{stampaErrore.message}}</p>
} -->
<button (click)="goToDashbord()">Test</button>
<table *ngIf="$pazienti">
    <thead>
        <th>idPaziente</th>
        <th>nomePaziente</th>
        <th>cognomePaziente</th>
        <th>CodiceColore</th>
        <th>Stato</th>
        <th>CodiceColore</th>
        <th>IdMedico</th>
        <th>IdMedico</th>
    </thead>
    <tbody>
        @for(paz of $pazienti; track paz.idPaziente){
            <tr>
                <td>{{paz.idPaziente}}</td>
                <td>{{paz.nomePaziente}}</td>
                <td>{{paz.cognomePaziente}}</td>
                <td>{{paz.CodiceColore}}</td>
                <td>{{paz.Stato}}</td>
                <td>{{paz.CodiceColore}}</td>
                <td>{{paz.IdMedico}}</td>
                <td>{{paz.IdMedico}}</td>
                <td><button (click)="modificaPaz(paz)">Modifica</button></td>
                <td><button (click)="eliminaPaz(paz)">Dimetti</button></td>
            </tr>
        }
        @empty {
            <tr><td>NON CI SONO VALORI</td></tr>
        }
    </tbody>
</table>