<p>contatori-paz works!</p>
<button (click)="goToDashbord()">Test</button>
<h2>Contatori Pazienti</h2>
<table>
    <thead>
        <th>Codice</th>
        <th>Num Paz In Cura</th>
        <th>Num Paz In Attesa</th>
    </thead>
    <tbody>
        @for(paz of $contatoriPaz; track paz.CodiceColore){
        <tr>
            <td>{{paz.CodiceColore}}</td>
            <td>{{paz.numCura}}</td>
            <td>{{paz.numAttesa}}</td>
        </tr>
        }
        @empty {
        <tr>
            <td>NON CI SONO VALORI</td>
        </tr>
        }
    </tbody>
</table>