<p>paziente-triage works!</p>
<button (click)="goToDashbord()">Test</button>
<form [formGroup]="ricercaPersone" (ngSubmit)="getPersoneCercate()">
    <label for="cf">
        Codice Fiscale
        <input type="text" id="cf" formControlName="cf">
    </label>
    <br>
    <label for="nome">
        Nome
        <input type="text" id="nome" formControlName="nome">
    </label>
    <br>
    <label for="cognome">
        Cognome
        <input type="text" id="cognome" formControlName="cognome">
    </label>
    <br>
    <label for="sesso">
        Sesso
        <select formControlName="sesso">
            <option value="M">Maschile</option>
            <option value="F">Femminile</option>
        </select>
    </label>
    <br>
    <label for="dataNascita">
        dataNascita
        <input type="date" id="dataNascita" formControlName="dataNascita">
    </label>
    <br>
    <button type="submit">cerca</button>
</form>
<table *ngIf="$persone">
    <thead>
        <th>CF</th>
        <th>Nome</th>
        <th>Cognome</th>
        <th>DataNascita</th>
        <th>LuogoNascita</th>
        <th>NumTel</th>
        <th>Citta</th>
        <th>Via</th>
        <th>NumCivico</th>
        <th>CAP</th>
    </thead>
    <tbody>
        @for(paz of $persone; track paz.CF){
            <tr>
                <td>{{paz.CF}}</td>
                <td>{{paz.Nome}}</td>
                <td>{{paz.Cognome}}</td>
                <td>{{paz.DataNascita}}</td>
                <td>{{paz.LuogoNascita}}</td>
                <td>{{paz.NumTel}}</td>
                <td>{{paz.Citta}}</td>
                <td>{{paz.Via}}</td>
                <td>{{paz.NumCivico}}</td>
                <td>{{paz.CAP}}</td>
                <td><button>Seleziona</button></td>
            </tr>
        }
        @empty {
            <tr><td>NON CI SONO VALORI</td></tr>
        }
    </tbody>
</table>